
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home Index</h2>

@Html.ActionLink("Admin", "Index", "Admin") |
@Html.ActionLink("SignOut", "SignOut", "Login")
