
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Admin Page</h2>

@Html.ActionLink("Home", "Index", "Home");
@Html.ActionLink("SignOut", "SignOut", "Login");
